/*////////////////////////
    Table of Contents
    1. Typography
    2. Areas
        2.1 Navigation
        2.2 Header
        2.3 Products
    3. Media Queries
////////////////////////*/

/*////////////////////////
    1. Typography
////////////////////////*/


/*////////////////////////
    2. Areas
////////////////////////*/

/*/////////
2.1 Header
/////////*/
header {
    height: 100px;
}

.header--nav {
    display: flex;
    flex-basis: 100px;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

/*/////////
2.2 Main
/////////*/
section.dashboard--header {
    width: 100%;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.product {
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    row-gap: 20px;
    padding: 20px;
    border: 1px solid #22222245;
    border-radius: 5px;
    box-shadow: -1px 1px 10px 0px #35353594;
}

.product img {
    width: 100%;
    border-radius: .25em;
}
button.profile {
    margin-top: 10px;
    cursor: pointer;
}
.dashboard--favorites {
    margin: 50px 0;
}
.dashboard--favorites li {
    margin: 15px 0;
}
.btn-favorite {
    margin-left: 15px;
    color: var(--color-purple);
    cursor: pointer;
}

/*////////////////////////
    4. Media
////////////////////////*/
@media screen and (max-width: 1200px) {
    /* voor desktops en groter */

}

@media screen and (max-width: 900px) {
    /* voor tablets */
    .products {
        justify-content: space-around;
    }
}

@media screen and (max-width: 578px) {
    /* voor gsm */
    .products {
        flex-direction: column;
    }
}