/*////////////////////////
    Table of Contents
    1. Typography
    2. Areas
        2.1 Navigation
        2.2 Header
        2.3 Products
    3. Media Queries
////////////////////////*/

/*////////////////////////
    1. Typography
////////////////////////*/


/*////////////////////////
    2. Areas
////////////////////////*/

/*/////////
2.1 Header
/////////*/


/*/////////
2.2 Main
/////////*/
.news--header {
    width: 100%;
    margin-bottom: 30px;
}
.inner-container.news {
    margin-bottom: 30px;
}
.inner-container.news h2 {
    margin-bottom: 15px;
}
input {
    margin: 0 15px 15px 0;
}
input[type="text"] {
    padding: 0 5px;
}
.news button {
    width: 100px;
    cursor: pointer;
}
.news .article {
    width: 900px;
    margin: 10px 0;
}
.news label {
    margin-left: 15px;
}
.news .btn-favorite {
    margin-left: 15px;
    color: var(--color-purple);
    cursor: pointer;
}
.news ~ .outer-container.footer {
    position: relative;
}

